# .dockerignore

# Исключаем виртуальное окружение, оно не нужно внутри контейнера
venv/

# Исключаем кэш Python
__pycache__/
*.pyc

# Исключаем файлы IDE
.vscode/
.idea/

# Исключаем Git
.git
.gitignore