# Игнорировать специфичные для Python файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы виртуального окружения
.venv/
venv/
env/

# Файл с секретными данными
.env

# Игнорировать папки с данными баз данных и другими временными файлами
db_data/
postgres_data/

# Игнорировать специфичные для Node.js/Frontend файлы
node_modules/
dist/
build/
.npm/

# Игнорировать специфичные для ОС файлы
.DS_Store
Thumbs.db