[Desktop Entry]
Type=Application
Name=Tap Display Kiosk
Exec=/home/cybeer/beer-tap-system/deploy/rpi/tap-display-kiosk.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
